
.fish-card {
    margin: 20px 10px;
}

.region-info {
    margin: 20px 27px;
    h1 {
        font-weight: 500;
    }
}

h3 {
    margin: 10px 0;
}

.images-container {
    margin: 5px 15px 0;
}

mat-card-title {
    font-size: 18px;
    font-weight: bold;
}